<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
	crossorigin="anonymous">
	
	<link rel="stylesheet" href="css/movies.css">
</head>
<body>

<div th:replace="layout :: navbar"></div>

	<div class="container mt-5">
		<h1>Finalized orders</h1>
		<hr>

		<div class="row">

			<div class="col">

								
				 <table class="table table-dark table-striped mt-3">
				
					<thead>
						<tr>
							<th>Nº pedido</th>
							
						</tr>
					</thead>
					<tbody>
		
						<tr th:each="cart: ${usercart}">
							
							<td th:utext="${cart.id}"></td>
						<td>
						
							<div th:each="movie: ${cart.movies}">
							<span class="badge bg-info text-dark" th:utext="${movie.title}"></span>
								
							</div>
						</td>
					
						
							
						</tr>
					</tbody>
				</table>
				</div>



		

		</div>



	</div>

<div th:replace="layout :: footer"></div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>
</html>